[defaults]
host_key_checking = False

[inventory]
any_unparsed_is_failed = True

# speed up ansible by enableing multiplexing
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path_dir = ~/.ansible/cp
control_path = %(directory)s/%%h-%%r-%%p
